<%- include("header") -%>

<h1>Home</h1>
<p> <%= content%> </p>

<% items.forEach(item => { %>
    <h1> <%=item.title %> </h1>
    <p> <%=item.content.substring(0, 100) + "..." %>  <a href=" /posts/<%=item.title%> ">Read More</a> </p>

<% }); %>

<%- include("footer") -%>
